@import-normalize;

.App {
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: #fbfbfb;
}

.importLink {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 8px;
  background-color: #fff;
}
